<div class="breadcrumbs">
  <a class="link" href="https://kontakt.minavardkontakter.se/mvk/start.xhtml"><span message key="mvk.home"></span></a>
  <span>»</span>
  <a class="link" href="https://kontakt.minavardkontakter.se/mvk/services.xhtml#tabs-3"><span message key="mvk.other_services"></span></a>
  <span>»</span>
  <span ng-switch="currentPath.startsWith('/home')">
    <span message key="title" ng-switch-when="true"></span>
    <a class="link" href="" ng-click="location.path('/home')" ng-switch-default><span message key="title"></span></a>
  </span>
  <span ng-if="!currentPath.startsWith('/home')">»</span>
  <current-title ng-if="!currentPath.startsWith('/home')"></current-title>
</div>