/*
http://mvk.nu/css/style.css?04 (20160511)
image urls replaced
*/


/* ==========================================================================
   1177 CSS
   ========================================================================== */

body {
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #e3e3e3;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.wrapper {
  position: static;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 0px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

h3 {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.5em;
  text-indent: 0px;
}

a {
  color: #00606a;
  text-decoration: underline;
}

.button {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 1px solid #008391;
  border-radius: 8px;
  background-color: #008391;
  background-image: -webkit-linear-gradient(#128693, #006a7b);
  background-image: linear-gradient(#128693, #006a7b);
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  border: 1px solid #008391;
  background-color: white;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  color: #008391;
}

.button.disabled {
  background: rgb(210, 212, 206);
  color: rgb(155, 155, 155);
  border: 1px solid rgb(210, 212, 206);
}

._1177-header {
  position: static;
  display: block;
  max-width: 960px;
  min-height: 66px;
  margin-right: auto;
  margin-left: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #008391;
}

._1177-logo-block {
  display: block;
  height: 60px;
  padding-left: 20px;
  float: left;
  position: relative;
}

._1177-logo-img {
  float: left;
}

._1177-sitetitle, h1._1177-sitetitle {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #fff;
  line-height: 1em;
  font-weight: normal;
  display: block;
  position: relative;
  width: 250px;
}

._1177-sitename {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 20px;
  left: 130px;
}

._1177-settings {
  display: inline-block;
}

.link-userblock {
  display: inline-block;
  color: white;
}

._1177-logout {
  display: inline-block;
  margin-left: 10px;
  padding-left: 20px;
  background-image: url(/img/1177/icon-logout-inv.png);
  background-position: 0px 50%;
  background-repeat: no-repeat;
}

._1177-currentuser {
  display: block;
  clear: none;
  color: white;
}

._1177-user {
  position: static;
  top: 13px;
  right: 20px;
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  padding-top: 10px;
  padding-right: 20px;
  float: right;
  text-align: right;
}

.breadcrumbs-container {
  clear: both;
  padding-top: 20px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.breadcrumbs {
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 16px;
}

.main-medium {
  max-width: 630px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
}

.main-wide {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: white;
}

.row-main {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
  color: black;
}

.link {
  color: #00606a;
  text-decoration: underline;
}

.link1177 {
  white-space: nowrap;
}

.alert-warning {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8e2a6;
}

.alert-error {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f2cbcb;
}

.alert-error ul {
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 20px;
}

.alert-error li {
  margin-bottom: 3px;
}

.accept-terms-wrap {
  line-height: 30px;
}

.accept-terms-wrap label {
  display: inline-block;
  padding-left: 3px;
}

.tftable {
  font-size: 14px;
  color: #333333;
  width: 100%;
  border-width: 1px;
  border-color: #729ea5;
  border-collapse: collapse;
}

.tftable th {
  background-color: #acc8cc;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
  text-align: left;
}

.tftable tr {
  background-color: #d4e3e5;
}

.tftable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
}

.tftable td.select, .tftable th.select {
  width: 30px;
}

.tftable td.select {
  text-align: center;
}

.tftable td.latest_transfer, .tftable th.latest_transfer {
  width: 150px;
}

.action-block {
  margin-top: 15px;
  margin-bottom: 15px;
}

._1177-footer {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

._1177-tagline-block {
  min-height: 66px;
  border-radius: 0px;
  background-color: #008391;
  color: white;
  line-height: 20px;
}

._1177-links {
  min-height: 40px;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0px 0px;
  background-color: #d2d4ce;
  line-height: 20px;
}

._1177-links-row {
  padding: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  display: block;
}

.footer-link {
  display: inline;
  margin-right: 5px;
  margin-left: 5px;
  color: #17646f;
  font-size: 16px;
}

._1177-tagline-text {
  padding-top: 22px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 0px;
}

.footerblock1177 {
  text-align: center;
}

.link-negative {
  color: white;
}

.footer-link-text {
  padding-right: 5px;
  padding-left: 5px;
  color: #00606a;
  font-size: 14px;
}

._1177-header-content {
  display: block;
}

.delegate-container {
  display: block;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.delegate-block {
  min-width: 600px;
  max-width: 600px;
  margin: 0px 10px 0px 0px;
  padding: 10px 15px;
  float: right;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f8e2a6;
}

.delegate-header {
  margin-bottom: 10px;
  font-weight: 700;
}

._1177-delegate-settings {
  display: inline;
  margin-left: 15px;
  float: right;
  font-weight: normal;
}

._1177-delegate-title {
  display: inline-block;
  float: left;
}

._1177-header-info {
  display: inline-block;
}

._1177-delegate-expand {
  padding-top: 10px;
  clear: both;
}

#delegate-expand {
  display: none;
}

.icon-footer {
  vertical-align: middle;
}

a.extlink {
  padding-right: 5px;
}

img.extlink {
  vertical-align: middle;
}

.spacer-bc-top-20 {
  height: 20px;
  min-height: 20px;
}

img.moreinfo {
  vertical-align: top;
  margin-left: 5px;
}

p.back-link:before {
  content: "» ";
}

.villkorstext-tight {
  margin-top: 15px;
  padding: 5px 15px 15px 20px;
  background-color: #ededed;
}

.villkorstext-list:before, .villkorstext-list:after {
  /*content:" ";*/
  display: table;
}

.villkorstext-list:after {
  clear: both;
}

.villkorstext-list ul {
  margin-left: 0;
  padding-left: 20px;
}

.villkorstext-list li {
  margin-bottom: 3px;
}

img.extlink {
  margin-left: 4px;
  padding-bottom: 3px;
}
.w-list-unstyled {
  padding-left:0;
  list-style:none
}

.tabselectors {
  margin-top: 20px;
  border-bottom: 1px solid #979797;
}

.tablink {
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #979797;
  color: #fff;
}

.tablink.tabselected {
  background-color: #008391;
}

.w-checkbox, .w-radio {
    display: block;
    margin-bottom: 5px;
    padding-left: 20px;
}

.w-checkbox input {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  float: left;
  margin-left: -20px;
}


@media (max-width: 961px) {
  ._1177-header {
    border-radius: 0px;
  }
  ._1177-footer {
    border-radius: 0px;
  }
  ._1177-tagline-block {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .delegate-container {
    height: auto;
  }
  .main-wide {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
    max-width: inherit !important;
  }
}

@media (max-width: 767px) {
  ._1177-header {
    position: static;
    display: block;
    overflow-x: visible;
    overflow-y: visible;
    height: auto;
    min-height: 0px;
  }
  ._1177-logo-block {
    display: inline-block;
    margin-bottom: 5px;
    padding-left: 10px;
  }
  .footer-link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #979797;
    font-size: 14px;
  }
  ._1177-user {
    position: static;
    top: 70px;
    display: block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 12px;
    float: none;
    clear: left;
    border-top: 1px solid white;
    border-bottom: 1px none white;
    text-align: right;
  }
  .breadcrumbs {
    padding-left: 10px;
    font-size: 14px;
  }
  .main-medium, .main-wide {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px;
    max-width: inherit !important;
  }
  ._1177-tagline-block {
    border-radius: 0px;
  }
  ._1177-links {
    margin-bottom: 0px;
    padding: 0;
    border-radius: 0px;
  }
  ._1177-links-row {
    margin: 0;
    padding: 0;
  }
  ._1177-header-content {
    display: block;
  }
  .delegate-block {
    margin-right: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: block;
    max-width: 0;
    max-width: inherit !important;
    min-width: 320px;
    float: none;
  }
  .delegate-header {
    display: block;
    margin-bottom: 0px;
    clear: both;
    text-align: center;
  }
  ._1177-delegate-settings {
    display: block;
    float: none;
    clear: both;
  }
  ._1177-delegate-title {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
  }
  .delegate-name {
    white-space: nowrap
  }
}

@media (max-width: 479px) {
  ._1177-tagline-text {
    padding-top: 12px;
  }
}