/*
http://e1177.webflow.io/ (20160512)
image urls replaced
*/

/*
old 'mvk pointy link'
*/
.linktab-single {
    margin-bottom: 10px;
    padding: 12px 10px;
    background-image: url("/img/1177/linktab-arrow-bg.png"), -webkit-linear-gradient(0deg, #fff, #f2f0f0);
    background-image: url("/img/1177/linktab-arrow-bg.png"), linear-gradient(90deg, #fff, #f2f0f0);
    background-position: 100% 50%, 0px 0px;
    background-repeat: no-repeat, repeat;
    box-shadow: 1px 1px 3px 0 #979797;
}

.linktab-single-text {
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
}

.linktab-single-img {
    display: inline-block;
}

.linktab-single-link {
    display: block;
    color: #00606a;
    font-weight: 700;
    text-decoration: none;
}
