<div class="canvas">
  <h3 class="title">
    <span message key="500.title"></span>
  </h3>
  <p>
    <span message key="500.desc"></span>
  </p>
  <p ng-if="errorCid">
    <span message key="500.error_reference_pre_reference"></span>
    <strong>{{errorCid}}</strong>
  </p>
  <a href="" ng-click="location.path('/home');">
    <span message key="500.home_btn"></span>
  </a>
</div>
