<div class="canvas">

  <div class="alert-error" ng-if="errors.startErrors.transferTypes || errors.startErrors.acceptTerms || errors.stopErrors.transferTypes" id="all-errors">
    <strong><span message key="home.errors.general_title"></span></strong>
    <ul>
      <li ng-if="errors.startErrors.acceptTerms"><a href="" scroll-to-item="#accept-terms-error"><span message key="home.start_errors.accept_terms"></span></a></li>
      <li ng-if="errors.startErrors.transferTypes"><a href="" scroll-to-item="#start-transfer-types-error"><span message key="home.start_errors.transfer_types"></span></a></li>
      <li ng-if="errors.stopErrors.transferTypes"><a href="" scroll-to-item="#stop-transfer-types-error"><span message key="home.stop_errors.transfer_types"></span></a></li>
    </ul>
  </div>
  <div class="alert-warning"><span message key="home.region_info.text"></span></div>

  <ul class="tabselectors w-list-unstyled">
    <li class="tablink" style="cursor: pointer;" ui-sref="home.subscribe" ui-sref-active="tabselected">
      Prenumerera
    </li>
    <li class="tablink" style="cursor: pointer;" ui-sref="home.active" ui-sref-active="tabselected">
      Aktiva prenumerationer
    </li>
  </ul>

  <div ui-view></div>

</div>
