<div>
  <h3 class="title">
      <span message key="home.active_subscriptions"></span>
    </h3>
    <div class="alert-error" ng-if="stopErrors.transferTypes" id="stop-transfer-types-error">
      <span message key="home.stop_errors.transfer_types"></span>
    </div>
    <table class="tftable">
      <thead>
      <tr>
        <th class="select"><span message key="home.subscription_table.header.select"></span></th>
        <th><span message key="home.subscription_table.header.transfer_type"></span></th>
        <th class="latest_transfer"><span message key="home.subscription_table.header.latest_transfer"></span></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="subscription in subscriptions">
        <td class="select">
          <input type="checkbox" ng-model="stopFormData.transferTypes[subscription.approvedTransferType]">
        </td>
        <td><span message key="transfer_types.{{subscription.approvedTransferType}}.title"></span></td>
        <td class="latest_transfer"><span message key="home.subscription_table.latest_transfer_status.never"></span></td>
      </tr>
      </tbody>
    </table>
    <div class="action-block">
      <button class="button" ng-click="stopSubscriptions();">
        <span message key="home.stop_transfer_btn"></span>
      </button>
    </div>
</div>