<div ng-if="(transferTypes | filter:transferTypeFilter()).length">
    <h3 class="title">
    <span message key="home.create_subscription"></span>
  </h3>
  <p>Här kan du starta en prenumeration som hämtar befintlig och framtida journalinformation till <a class="link link1177" href="#">Hälsa för mig<img src="http://uxa.se/img/e1177/icon-newwindow.png" class="extlink" style="margin-left:4px; padding-bottom:3px;" alt="Länken öppnas i nytt fönster."></a>.&nbsp;För att starta en prenumeration måste du godkänna villkoren och välja typ av journalinformation som ska föras över till Hälsa för mig.</p>
  <div class="alert-error" ng-if="errors.startErrors.acceptTerms" id="accept-terms-error">
        <span message key="home.start_errors.accept_terms"></span>
      </div>
      <p class="accept-terms-wrap">
        <input type="checkbox" ng-model="startFormData.acceptTerms" id="acceptStartTerms">
        <label for="acceptStartTerms">
          <span message key="home.terms.accept_terms_pre_popup_text"></span>
          <a ng-click="showTermsModal()" style="cursor: pointer;">
            <span message key="home.terms.accept_terms_popup_text"></span>
          </a>
        </label>
      </p>
  <div class="spacer-bc-top-20"></div>
  <div class="alert-error" ng-if="errors.startErrors.transferTypes" id="start-transfer-types-error">
    <span message key="home.start_errors.transfer_types"></span>
  </div>
  <table class="tftable">
    <thead>
      <tr>
        <th class="select"><span message key="home.subscription_table.header.select"></span></th>
        <th><span message key="home.subscription_table.header.transfer_type"></span></th>
        <th class="latest_transfer"><span message key="home.subscription_table.header.latest_transfer"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="transferType in transferTypes | filter:transferTypeFilter()">
        <td class="select">
          <input type="checkbox" ng-model="startFormData.transferTypes[transferType]">
          </td>
        <td><span message key="transfer_types.{{transferType}}.title"></span></td>
        <td class="latest_transfer"><span message key="home.subscription_table.latest_transfer_status.never"></span></td>
      </tr>
    </tbody>
  </table>
  
  <!--<div class="action-block">
    <div class="villkorstext-tight">
      <h4><span message key="home.terms.title"></span></h4>
      <div class="villkorstext-list">
        <ul>
          <li><span message key="home.terms.cond_1"></span></li>
          <li><span message key="home.terms.cond_2"></span></li>
          <li><span message key="home.terms.cond_3"></span></li>
          <li><span message key="home.terms.cond_4"></span></li>
          <li><span message key="home.terms.cond_5"></span></li>
          <li><span message key="home.terms.cond_6"></span></li>
          <li><span message key="home.terms.cond_7"></span></li>
          <li><span message key="home.terms.cond_8"></span></li>
        </ul>
      </div>
      <div class="alert-error" ng-if="startErrors.acceptTerms" id="accept-terms-error">
        <span message key="home.start_errors.accept_terms"></span>
      </div>
      <p class="accept-terms-wrap">
        <input type="checkbox" ng-model="startFormData.acceptTerms" id="acceptStartTerms">
        <label for="acceptStartTerms">
          <strong><span message key="home.terms.accept_checkbox"></span></strong>
          </label>
      </p>
    </div>
  </div>-->
  <div class="alert-warning" ng-if="!phkAuthorized">
    <span message key="home.phk_authorization_info.text"></span>
  </div>
  <div class="action-block">
    <button class="button" ng-click="startSubscriptions();">
      <span ng-if="phkAuthorized" message key="home.create_transfer_btn.phk_authorized"></span>
      <span ng-if="!phkAuthorized" message key="home.create_transfer_btn.phk_not_authorized"></span>
    </button>
  </div>
  </div>