<div class="canvas">
  <h4 ng-if="confirmation.create">Du har startat följande prenumeration på journalinformation till Hälsa för mig</h4>
  <h4 ng-if="!confirmation.create">Du har avslutat följande överföring av journalkopia till Hälsa för mig</h4>
  <div class="alert-warning">
      <p ng-repeat="transferType in confirmation.success">• <span message key="transfer_types.{{transferType}}.title"></span></p>
  </div>
  <p class="back-link">
    <a ui-sref="home.active" ng-if="confirmation.create">Visa aktiva prenumerationer</a>
    <a ui-sref="home.subscribe" ng-if="!confirmation.create">Tillbaka</a>
  </p>  
</div>