<div id="custom-modal">
  <div id="overlay">
    <div class="villkorstext-tight">
      <div>
        <div>
          <h4><span message key="home.terms.title"></span></h4>
          <div class="villkorstext-list">
            <ul>
              <li><span message key="home.terms.cond_1"></span></li>
              <li><span message key="home.terms.cond_2"></span></li>
              <li><span message key="home.terms.cond_3"></span></li>
              <li><span message key="home.terms.cond_4"></span></li>
              <li><span message key="home.terms.cond_5"></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a href ng-click="close()">Stäng</a>
  </div>
  <div id="fade" ng-click="close()"></div>
</div>